@charset 'UTF-8';
// @import "components/layout.scss";
@import "components/header.scss";
@import "components/main.scss";
@import "components/breadcrumbs.scss";

#app {
  font-size: 18px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
